<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>HA's locations</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
	<h3 class="text-center">HA Contact Information by State (Map)</h3>
	<div class="content text-center">
		<img alt="Clickable Image of the US" href="/admin/phas/pha/?state__exact=vt" src="http://portal.hud.gov/hudportal/images/hudimg?id=usamap1.gif"
	style="border-bottom: 0px solid; border-left: 0px solid; width: 550px; height: 406px; border-top: 0px solid; border-right: 0px solid" usemap="#usamap" />
	<map name="usamap">
		<area alt="Washington" coords="35,3,102,23,96,61,33,43" href="/admin/phas/pha/?state__exact=WA" shape="poly" title="Washington" />
		<area alt="Oregon" coords="30,44,92,61,80,114,14,97" href="/admin/phas/pha/?state__exact=OR" shape="poly" title="Oregon" />
		<area alt="California" coords="16,98,54,107,47,145,91,219,81,242,24,204,10,140,8,115,13,102" href="/admin/phas/pha/?state__exact=CA" shape="poly" title="California" />
		<area alt="Arizona" coords="98,188,148,196,138,271,81,245" href="/admin/phas/pha/?state__exact=AZ" shape="poly" title="Arizona" />
		<area alt="Idaho" coords="139,126,144,89,125,87,118,71,109,44,110,23,103,23,84,113" href="/admin/phas/pha/?state__exact=ID" shape="poly" title="Idaho" />
		<area alt="Nevada" coords="99,183,110,120,56,108,48,144,88,211" href="/admin/phas/pha/?state__exact=NV" shape="poly" title="Nevada" />
		<area alt="Montana" coords="207,94,211,42,110,27,124,90" href="/admin/phas/pha/?state__exact=MT" shape="poly" title="Montana" />
		<area alt="Wyoming" coords="202,146,206,92,143,88,136,138" href="/admin/phas/pha/?state__exact=WY" shape="poly" title="Wyoming" />
		<area alt="Utah" coords="149,195,155,140,134,139,136,126,110,120,100,186" href="/admin/phas/pha/?state__exact=UT" shape="poly" title="Utah" />
		<area alt="North Dakota" coords="209,78,275,83,268,42,212,39" href="/admin/phas/pha/?state__exact=ND" shape="poly" title="North Dakota" />
		<area alt="South Dakota" coords="209,79,276,83,275,126,205,120" href="/admin/phas/pha/?state__exact=SD" shape="poly" title="South Dakota" />
		<area alt="Colorado" coords="158,142,224,149,222,201,152,195" href="/admin/phas/pha/?state__exact=CO" shape="poly" title="Colorado" />
		<area alt="New Mexico" coords="138,269,203,267,209,200,149,194" href="/admin/phas/pha/?state__exact=NM" shape="poly" title="New Mexico" />
		<area alt="Puerto Rico" coords="482,337,502,357" href="/admin/phas/pha/?state__exact=PR" shape="rect" title="Puerto Rico" />
		<area alt="Nebraska" coords="204,121,274,127,285,163,224,160,222,150,202,147" href="/admin/phas/pha/?state__exact=NE" shape="poly" title="Nebraska" />
		<area alt="Kansas" coords="222,160,289,163,292,202,223,201" href="/admin/phas/pha/?state__exact=KS" shape="poly" title="Kansas" />
		<area alt="Oklahoma" coords="210,201,292,202,296,247,249,240,239,233,239,210,208,206" href="/admin/phas/pha/?state__exact=OK" shape="poly" title="Oklahoma" />
		<area alt="Texas" coords="209,207,238,211,241,236,301,249,305,299,274,319,264,335,268,350,242,347,232,316,212,298,202,309,169,269,202,269" href="/admin/phas/pha/?state__exact=TX" shape="poly" title="Texas" />
		<area alt="Minnesota" coords="273,42,331,53,317,70,313,84,312,99,326,114,277,115" href="/admin/phas/pha/?state__exact=MN" shape="poly" title="Minnesota" />
		<area alt="Iowa" coords="275,115,325,114,330,127,330,140,324,154,282,154" href="/admin/phas/pha/?state__exact=IA" shape="poly" title="Iowa" />
		<area alt="Missouri" coords="284,153,327,153,339,177,351,204,345,213,331,208,295,208" href="/admin/phas/pha/?state__exact=MO" shape="poly" title="Missouri" />
		<area alt="Arkansas" coords="295,209,328,209,345,216,330,255,303,255,303,249,297,247" href="/admin/phas/pha/?state__exact=AR" shape="poly" title="Arkansas" />
		<area alt="Louisana" coords="302,255,330,256,332,267,328,283,349,283,357,308,329,309,314,305,305,301" href="/admin/phas/pha/?state__exact=LA" shape="poly" title="Louisana" />
		<area alt="Florida" coords="464,355,467,311,438,277,404,279,375,277,378,291,413,304" href="/admin/phas/pha/?state__exact=FL" shape="poly" title="Florida" />
		<area alt="Alaska" coords="16,266,98,325" href="/admin/phas/pha/?state__exact=AK" shape="rect" title="Alaska" />
		<area alt="Illinois" coords="330,127,357,126,364,166,361,187,347,199,325,153" href="/admin/phas/pha/?state__exact=IL" shape="poly" />
		<area alt="Wisconsin" coords="314,70,330,70,355,87,358,95,356,125,330,125,311,97" href="/admin/phas/pha/?state__exact=WI" shape="poly" title="Wisconsin" />
		<area alt="Michigan" coords="401,131,371,133,367,99,356,88,333,69,376,55,401,75,408,103" href="/admin/phas/pha/?state__exact=MI" shape="poly" title="Michigan" />
		<area alt="Indiana" coords="359,134,387,133,390,171,363,186" href="/admin/phas/pha/?state__exact=IN" shape="poly" />
		<area alt="Hawaii" coords="107,300,141,325" href="/admin/phas/pha/?state__exact=HI" shape="rect" title="Hawaii" />
		<area alt="Guam" coords="89,338,107,352" href="/admin/phas/pha/?state__exact=GU" shape="rect" title="Guam" />
		<area alt="Virgin Islands" coords="475,365,491,381" href="/admin/phas/pha/?state__exact=VI" shape="rect" title="Virgin Islands" />
		<area alt="Maine" coords="513,19,546,60,516,91,502,59" href="/admin/phas/pha/?state__exact=ME" shape="poly" title="Maine" />
		<area alt="Ohio" coords="388,131,426,120,429,153,415,171,391,168" href="/admin/phas/pha/?state__exact=OH" shape="poly" title="Ohio" />
		<area alt="Kentucky" coords="348,205,405,201,421,185,409,168,363,186,353,195" href="/admin/phas/pha/?state__exact=KY" shape="poly" title="Kentucky" />
		<area alt="Tennessee" coords="348,205,427,195,403,221,342,227" href="/admin/phas/pha/?state__exact=TN" shape="poly" title="Tennessee" />
		<area alt="Pennsylvania" coords="428,120,470,113,481,121,478,129,489,135,476,146,430,152" href="/admin/phas/pha/?state__exact=PA" shape="poly" title="Pennsylvania" />
		<area alt="New York" coords="467,73,483,71,492,121,481,122,473,113,430,118,443,95" href="/admin/phas/pha/?state__exact=NY" shape="poly" title="New York" />
		<area alt="Mississippi" coords="341,227,362,225,364,287,352,290,348,283,329,283,332,260,331,254" href="/admin/phas/pha/?state__exact=MS" shape="poly" title="Mississippi" />
		<area alt="Alabama" coords="363,226,389,223,400,278,373,277,376,287,364,286" href="/admin/phas/pha/?state__exact=AL" shape="poly" title="Alabama" />
		<area alt="Georgia" coords="390,223,413,221,441,257,438,277,401,277" href="/admin/phas/pha/?state__exact=GA" shape="poly" title="Georgia" />
		<area alt="South Carolina" coords="415,220,438,216,443,219,449,216,463,226,443,256" href="/admin/phas/pha/?state__exact=SC" shape="poly" title="South Carolina" />
		<area alt="North Carolina" coords="426,195,485,188,498,203,463,226,449,216,441,218,437,216,406,221" href="/admin/phas/pha/?state__exact=NC" shape="poly" title="North Carolina" />
		<area alt="Virginia" coords="411,197,421,185,438,183,442,169,455,156,465,157,466,166,474,169,485,187" href="/admin/phas/pha/?state__exact=VA" shape="poly" title="Virginia" />
		<area alt="West Virginia" coords="415,172,420,185,437,183,446,163,451,155,456,151,442,154,442,150,431,154" href="/admin/phas/pha/?state__exact=WV" shape="poly" title="West Virginia" />
		<area alt="Vermont" coords="484,69,500,64,501,73,498,84,499,96,490,100" href="/admin/phas/pha/?state__exact=VT" shape="poly" title="Vermont" />
		<area alt="New Hampshire" coords="501,61,513,90,501,96" href="/admin/phas/pha/?state__exact=NH" shape="poly" title="New Hampshire" />
		<area alt="Massachusetts" coords="489,99,513,90,522,99,526,110,504,104,490,107" href="/admin/phas/pha/?state__exact=MA" shape="poly" title="Massachusetts" />
		<area alt="Rhode Island" coords="508,106,516,125,523,115,511,109" href="/admin/phas/pha/?state__exact=RI" shape="poly" title="Rhode Island" />
		<area alt="Connecticut" coords="491,108,509,107,510,116,493,118" href="/admin/phas/pha/?state__exact=CT" shape="poly" title="Connecticut" />
		<area alt="New Jersey" coords="480,123,493,119,488,150,479,146" href="/admin/phas/pha/?state__exact=NJ" shape="poly" title="New Jersey" />
		<area alt="New York" coords="511,126,506,116,497,119,496,132,494,124" href="/admin/phas/pha/?state__exact=NY" shape="poly" title="New York" />
		<area alt="Delaware" coords="477,145,488,152,497,153,498,160,482,159,477,144" href="/admin/phas/pha/?state__exact=DE" shape="poly" title="Delaware" />
		<area alt="Maryland" coords="491,159,504,163,497,170,486,166,476,158,472,148,470,151,472,159,468,160,461,153,459,146" href="/admin/phas/pha/?state__exact=MD" shape="poly" title="Maryland" />
		<area alt="District of Columbia" coords="475,161,497,174,498,185,483,179,472,165" href="/admin/phas/pha/?state__exact=DC" shape="poly" title="District of Columbia" />
		</map>
		<p>
			<a href="/has/ph">Public Housing Authorities</a><br/>
			<a href="/has/section8">Section 8 Housing Authorities</a><br/>
			<a href="/has/without-website">Housing Authorities without web sites</a><br/>
            <a href="/has/without-email">Housing Authorities without Email address</a><br/>
		</p>
	</div>

  </body>
 </html>
